@using TrackiSwift.Models.Models
@model Rider

@{
    ViewData["Title"] = "AddRider";
}

<h1>Add Rider</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="AddParticipants">
            <input type="hidden" asp-for="OrderId" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserList">
                    <option value="">Select Users</option>
                </select>
            </div>

            <div class="form-group">
                <input asp-area="Admin" asp-controller="Rider" asp-action="AssignRider" type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-primary" asp-area="Admin" asp-controller="Order" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
